

.header-band {
  background-color: #333; /* Dark gray background */
  color: white;
  padding: 10px 20px; /* Top and bottom padding with more space on the sides */
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Vertically center items in the container */
  justify-content: flex-start; /* Align items to the left */
}

.headerButton {
  background-color: #646464; /* Button background */
  border: none;
  border-radius: 15px; /* Rounded corners for the modern touch */
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px 0 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for interactivity */
}

/* If you want the first button to have more left padding */
.header-band .headerButton:first-child {
  margin-left: 20px; /* Additional left padding for the first button */
}

.headerButton:hover {
  background-color: #bfbfbf; /* A slightly darker shade on hover */
  transform: scale(1.15); /* Slightly enlarge button on hover for a dynamic feel */
}

.headerButton:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); /* A focus style for accessibility */
}
